body{
	background-color: #363636;
	font-family: 'Lato', sans-serif;
}

.navbar{
	background-color: #363636 !important;
}

a.active {
	color: #e8641b !important;
}

div.index h1{
	color: white;
}

div.index h5{
	color: #e8641b;
}

.a-work:link, .a-work:visited, .a-work:hover{
	color: whitesmoke;
	text-decoration: none;
}

button.btn{
	background-color: #e8641b;
}

.fab{
	color: #e8641b;
	font-size: 20px;
}